<app-search></app-search>

<section class="home">
  <div class="home__container">
    <aside class="home__sities">
      <h3>Sitios</h3>
      <div class="home__sities--container">
        <div class="home__sities--content" *ngFor="let site of sites">
          <app-card [item]="site"></app-card>
        </div>
      </div>
    </aside>
    <section class="home__covers">
      <h3>Portadas</h3>
      <div class="home__covers--container">
        <div class="home__covers--content" *ngFor="let screenshot of screenshots">
          <app-card [item]="screenshot"></app-card>
        </div>
      </div>
    </section>
  </div>
</section>
