<div class="container">
  <h1>Categorías</h1>

  <div class="flex-justify-end">
    <app-button id="new-category-btn" label='Nueva' btn='primary' [routerLink]="['/admin/categories/new']"></app-button>
  </div>

  <p-table
    [value]="categories"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10,25,50]"
    styleClass="p-datatable-responsive-demo"
    >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title">{{TITLE_HEADER}} <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th>{{DATE_HEADER}}</th>
        <th>{{ACTIONS_HEADER}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <span class="p-column-title">{{TITLE_HEADER}}</span>
          {{category.title}}
        </td>
        <td>
          <span class="p-column-title">{{DATE_HEADER}}</span>
          {{category.created | date:"dd/MM/yyyy"}}
        </td>
        <td>
          <span class="p-column-title">{{ACTIONS_HEADER}}</span>

          <app-button class="edit-btn" btn='secondary' isIcon [routerLink]="['/admin/categories', category.id]">
            <fa-icon icon="edit"></fa-icon>
          </app-button>

          <app-button class="delete-btn" btn='danger' isIcon (click)="confirmDelete(category)">
            <fa-icon icon="trash"></fa-icon>
          </app-button>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #cd header="Borrar Categoría" icon="pi pi-exclamation-triangle">
  <p-footer>
    <app-button label='Cancelar' btn='default' (click)="cd.reject()"></app-button>
    <app-button label='Eliminar' btn='danger' (click)="cd.accept()"></app-button>
  </p-footer>
</p-confirmDialog>
