<header class="header">
  <div class="header__limiter">
    <div class="header__content">
      <div class="logo">
        <a role="link" aria-label="Link a home" [routerLink]="['/']">
          <img src="assets/img/logo.png" alt="logo koopers" />
        </a>
      </div>
      <nav>
        <ul>
          <li>
            <a
              role="link"
              aria-label="Link a sitios"
              *ngIf="user"
              [routerLink]="['/admin/sites']"
              [routerLinkActive]="['selected']"
            >
              Sitios
            </a>
          </li>
          <li>
            <a
              role="link"
              aria-label="Link a secciones"
              *ngIf="user"
              [routerLink]="['/admin/sections']"
              [routerLinkActive]="['selected']"
            >
              Secciones
            </a>
          </li>
          <li>
            <a
              role="link"
              aria-label="Link a Categorias"
              *ngIf="user"
              [routerLink]="['/admin/categories']"
              [routerLinkActive]="['selected']"
            >
              Categorías
            </a>
          </li>
          <li>
            <a
              role="link"
              aria-label="Link a secciones"
              *ngIf="user"
              [routerLink]="['/admin/proposals']"
              [routerLinkActive]="['selected']"
            >
              Propuestas
            </a>
          </li>          
          <li>
            <a
              role="link"
              aria-label="Link a usuarios"
              *ngIf="user && manteiner"
              [routerLink]="['/admin/users']"
              [routerLinkActive]="['selected']"
            >
              Usuarios
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__content">
      <nav>
        <ul>
          <li>
            <a
              role="link"
              aria-label="Link a Inicio"
              [routerLink]="['/']"
              [routerLinkActive]="['selected']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Inicio
            </a>
          </li>
          <li>
            <a
              role="link"
              aria-label="Link a Buscar"
              [routerLink]="['/site/search']"
              >Buscar</a
            >
          </li>
          <li>
            <a
              role="link"
              aria-label="Link a nueva propuesta"
              [routerLink]="['/site/proposal']"
              [routerLinkActive]="['selected']"
            >
              Propuesta
            </a>
          </li>
          <li *ngIf="!user">
            <a
              class="login"
              role="link"
              aria-label="Link a Iniciar sesión"
              [routerLink]="['/auth/login']"
              >Iniciar Sesión</a
            >
          </li>
          <li *ngIf="user">
            <app-button
              label="Salir"
              btn="primary"
              (click)="logout()"
            ></app-button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <p-sidebar [(visible)]="visible" position="right" [baseZIndex]="10000">
    <h4 class="title">Menú</h4>
    <ul>
      <li>
        <a
          role="link"
          aria-label="Link a sitios"
          *ngIf="user"
          (click)="changePage('/admin/sites')"
          [routerLinkActive]="['selected']"
        >
          Sitios
        </a>
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a secciones"
          *ngIf="user"
          (click)="changePage('/admin/sections')"
          [routerLinkActive]="['selected']"
        >
          Secciones
        </a>
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a categorias"
          *ngIf="user"
          (click)="changePage('/admin/categories')"
          [routerLinkActive]="['selected']"
        >
          Categorías
        </a>
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a propuestas"
          *ngIf="user"
          (click)="changePage('/admin/proposals')"
          [routerLinkActive]="['selected']"
        >
          Propuestas
        </a>
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a usuarios"
          *ngIf="user && manteiner"
          (click)="changePage('/admin/users')"
          [routerLinkActive]="['selected']"
        >
          Usuarios
        </a>
      </li>
      <hr *ngIf="user"/>
      <li class="inicio">
        <a
          role="link"
          aria-label="Link a inicio"
          (click)="changePage('/')"
          [routerLinkActive]="['selected']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Inicio
        </a>
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a Buscar"
          (click)="changePage('/site/search')"
          >Buscar</a
        >
      </li>
      <li>
        <a
          role="link"
          aria-label="Link a nueva propuesta"
          (click)="changePage('/site/proposal')"
          [routerLinkActive]="['selected']"
        >
          Propuesta
        </a>
      </li>
      <li *ngIf="!user">
        <a
          class="login"
          role="link"
          aria-label="Link a Iniciar sesión"
          [routerLink]="['/auth/login']"
          >Iniciar sesión</a
        >
      </li>
      <li *ngIf="user">
        <app-button label="Salir" btn="primary" (click)="logout()"></app-button>
      </li>
    </ul>
  </p-sidebar>
  <p-button
    type="button"
    (click)="visible = true"
    icon="pi pi-align-justify"
    class="button"
  ></p-button>
</header>
