<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav> -->

<header class="header-login-signup">

	<div class="header-limiter">

		<div class="logo"><a>
      <img src=".././../../../assets/img/Kooper.png">
    </a></div>

		<nav>
			<a href="#">Home</a>
			<a href="#" class="selected">Sites</a>
			<a href="#">About us</a>
		</nav>
		
		<ul><li><form action="" class="search-bar">
			<input type="search" name="search" pattern=".*\S.*" required>
			<button class="search-btn" type="submit">
				<span>Search</span>
			</button>
		</form></li>
			<li><a href="#">Login</a></li>
			<li><a href="#">Sign up</a></li>
		</ul>

	</div>

</header>
