@import "../../../../variables"

.header
  background-color: $light-color
  box-shadow: 0 1px 1px #ccc
  padding: 15px 30px
  height: 80px
  color:  $light-color
  @media screen and ( max-width: 960px )
    padding: 15px
    display: flex
    justify-content: space-between

  &__limiter
    display: flex    
    justify-content: space-between
    margin: 0 auto

    .logo
      width: 140px  

      img
        width: 100%
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    nav
      margin-left: 20px
      ul
        display: flex
        list-style: none
        align-items: center
        li
          margin-left: 10px
      @media screen and ( max-width: 900px  )
        display: none
    a
      color: $dark-color 
      text-decoration: none
      line-height: 1
      margin-left: 10px
      &.selected
          color: #608bd2
      &.login
        color: $light-color
        background-color: $primary-color
        padding: 10px 15px
        border-radius: 3px
p-button
  .p-button
    background: transparent !important

p-sidebar
  .p-sidebar-content 
    .p-sidebar .p-sidebar-close
      height: auto
  .title
    padding-bottom: 10px
    box-shadow: 0 1px 1px #ccc

  ul 
    list-style: none
    margin: 20px
    hr
      border-bottom: 0.5px solid #ccc
    li 
      margin-bottom: 10px
      &.inicio 
        margin-top: 10px
      &:last-of-type 
        margin-top: 20px
      a 
        color: $dark-color
        text-decoration: none
        &.login
          color: $light-color
          background-color: $primary-color
          padding: 10px 15px
          border-radius: 3px
          margin: 10px 0
        &.selected
          color: #608bd2

@media screen and ( min-width: 901px) 
  p-button
    display: none
    

  

