@import "../../../../variables"
/**
 * 1. Previene espacio sobrante debajo de la imágen.
 */

.c-card
    background: #FDFCFC
    border-radius: 10px
    border: 1px solid #FDFCFC
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    max-width: 180px
    overflow: hidden
    margin: 10px auto

.c-card__link
    text-decoration: none
    color: $dark-color

.c-card__image-wrapper
    position: relative
    overflow: hidden    
    width: 180px
    height: 135px

.c-card__title
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: rgba(15, 11, 21, 0.6)
    color: #fff
    margin: 0
    padding: 11px 4px 8px

.c-card__image
    vertical-align: middle /* [1] */
    width: 100%

.c-card__description
    display: block
    font-size: 15px
    line-height: 18px
    margin: 3px 6px

.c-card__date
    display: block
    font-size: 10px
    line-height: 12px
    margin: 0 6px 6px

p-dialog
    .cover 
        img
            width: 100%
