<div *ngIf="alerts.length > 0" class="Alert" [@closeAlerts]="alerts.length > 0">
  <div
    class="Alert__div {{checkClass(alert)}}"
    *ngFor="let alert of alerts"
    [@openAlert]="notification != null"
  >
    <div class="Alert__area">
      <div class="Alert__icon-area">
        <fa-icon *ngIf="alert.type === successType" icon="check-circle"></fa-icon>
        <fa-icon *ngIf="alert.type === infoType" icon="info-circle"></fa-icon>
        <fa-icon *ngIf="alert.type === errorType" icon="times-circle"></fa-icon>
      </div>
      <div class="Alert__text-area" (click)="closeAlert(alert)">
        {{alert.message}}
      </div>
      <div class="Alert__close-area" (click)="closeAlert(alert)">
        <fa-icon icon="times-circle"></fa-icon>
      </div>
    </div>
  </div>
</div>
