<div *ngIf="alerts.length > 0" class="Alert">
  <div class="Alert__div {{checkClass(alert)}}" *ngFor="let alert of alerts">
    <div class="Alert__area">
        <div class="Alert__icon-area">
            <fa-icon *ngIf="alert.type === success_type" [icon]="faCheckCircle"></fa-icon>
            <fa-icon *ngIf="alert.type === info_type" [icon]="faInfoCircle"></fa-icon>
            <fa-icon *ngIf="alert.type === error_type" [icon]="faTimesCircle"></fa-icon>
        </div>
        <div class="Alert__text-area" (click)="closeAlert(alert)">
            {{alert.message}}
        </div>
        <div class="Alert__close-area" (click)="closeAlert(alert)">
            <fa-icon [icon]="faTimes"></fa-icon>
        </div>
    </div>
  </div>
</div>
