<div class="container">
  <h1 id="title-header">
    <span *ngIf="!currentUser">Nuevo Usuario</span>
    <span *ngIf="currentUser">Editar Usuario</span>
  </h1>

  <form [formGroup]="userForm">
    <div class="form-group">
      <label class="form-group__label" for="username">Usuario</label>
      <input class="form-group__input" [ngClass]="{'input-error': invalidControl(username)}" type="text" id="username" formControlName="username">
      <div class="error-msg" *ngIf="invalidControl(username)">
        <span *ngIf="username.errors.required">
          Campo obligtorio
        </span>
      </div>
    </div>

    <div *ngIf="currentUser" class="check-box-inline">
      <p-checkbox class="passwordCheckbox" inputId="updatePassword" (onChange)="addPasswordField($event.checked)"></p-checkbox>
      <label class="form-group__label" for="updatePassword">Update password</label>
    </div>

    <div *ngIf="userForm.get('password')" class="form-group">
      <label class="form-group__label" for="password">Password</label>
      <input class="form-group__input" [ngClass]="{'input-error': invalidControl(password)}" type="password" id="password" formControlName="password">
      <div class="error-msg" *ngIf="invalidControl(password)">
        <span *ngIf="password.errors.required">
          Campo obligtorio
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="form-group__label" for="is_staff">Administrador</label>
      <p-inputSwitch id="is_staff" formControlName="is_staff"></p-inputSwitch>
    </div>
  </form>

  <div class="flex-justify-end">
    <app-button id="cancel-btn" label='Cancelar' btn='default' (click)="goBack()"></app-button>
    <app-button id="save-btn" [disabled]="!userForm.valid" label='Guardar' btn='primary' (click)="onSave()"></app-button>
  </div>
</div>

