<div class="container">
  <h1>Nueva Categoría</h1>

  <form [formGroup]="categoryForm">
    <div class="form-group">
      <label class="form-group__label" for="title">Título</label>
      <input class="form-group__input" type="text" id="title" formControlName="title">
    </div>
  </form>

  <div class="flex-justify-end">
    <app-button label='Cancelar' btn='default' (click)="goBack()"></app-button>
    <app-button label='Guardar' btn='primary' (click)="onSave()"></app-button>
  </div>
</div>
