<div class="container">
  <h1 id="title-header">Editar Propuesta</h1>

  <form [formGroup]="suggestedForm">
    <div class="form-group">
      <label class="form-group__label" for="title">Título</label>
      <input class="form-group__input" [ngClass]="{'input-error': invalidControl(title)}" type="text" id="title" formControlName="title">
      <div class="error-msg" *ngIf="invalidControl(title)">
        <span *ngIf="title.errors.required">
          Campo obligtorio
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="form-group__label" for="url">URL</label>
      <input class="form-group__input" [ngClass]="{'input-error': invalidControl(url)}" type="url" id="url" formControlName="url">
      <div class="error-msg" *ngIf="invalidControl(url)">
        <span *ngIf="url.errors.required">
          Campo obligtorio
        </span>
        <span *ngIf="url.errors.pattern">
          Debe ser una url válida
        </span>
      </div>
    </div>

    <div class="form-group-row mb-0">
      <label class="form-group-row__label mr-1">Categorías</label>
      <app-button id="add-category-btn" isIcon btn='primary' (click)="addCategory()">
        <fa-icon icon="plus"></fa-icon>
      </app-button>
    </div>

    <div *ngFor="let control of categories.controls; index as i">
      <div class="form-group">
        <div class="form-group-row">
          <input [ngClass]="{'input-error': invalidControl(control)}" class="form-group-row__input mr-1" type="text" [formControl]="categories.controls[i]">
          <app-button isIcon btn='danger m-0' (click)="removeCategory(i)">
            <fa-icon icon="trash"></fa-icon>
          </app-button>
        </div>
        <div class="error-msg" *ngIf="invalidControl(control)">
          <span *ngIf="control.errors.required">
            Campo obligtorio
          </span>
        </div>
      </div>
    </div>

  </form>

  <div class="flex-justify-end">
    <app-button id="cancel-btn" label='Cancelar' btn='default' (click)="goBack()"></app-button>
    <app-button id="save-btn" [disabled]="!suggestedForm.valid" label='Guardar' btn='primary' (click)="onSave()"></app-button>
  </div>
</div>

