<section class="details" >
  <div class="details__container" *ngIf="site">
    <header class="details__head">
      <h1>{{ site.title }}</h1>
    </header>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <main class="details__main" *ngIf="screenshots">
      <section class="details__main--content">
        <p *ngIf="screenshots.length === 0">
          No tenemos capturas de "{{ site.title }}"
        </p>
        <cdk-virtual-scroll-viewport itemSize="100" class="viewport-detail">
          <div class="screenshots" *ngIf="screenshots.length > 0">
            <div *cdkVirtualFor="let screenshot of screenshots">
              <app-card [item]="screenshot"></app-card>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </section>
      <aside class="details__main--content">
        <form class="form" [formGroup]="form" (ngSubmit)="search($event)">
          <div class="form-group">
            <label for="date">Calendario:</label>
            <p-calendar
              [inline]="!size"
              [showIcon]="size"
              formControlName="date"
            ></p-calendar>
          </div>
          <div class="form-group">
            <label for="category">Categorias:</label>
            <p-dropdown
              placeholder="Seleccione una categoría"
              [options]="categories"
              formControlName="category"
              optionLabel="title"
            ></p-dropdown>
          </div>
          <app-button label="Buscar" type="submit" btn="success"></app-button>
        </form>
      </aside>
    </main>
  </div>
</section>
