<div class="container">
  <h1 id='title-header'>
    <span *ngIf="!currentSite">Nuevo Sitio</span>
    <span *ngIf="currentSite">Editar Sitio</span>
  </h1>

  <form [formGroup]="siteForm">
    <div class="form-group">
      <label class="form-group__label" for="title">Título</label>
      <input class="form-group__input" type="text" id="title" formControlName="title">
    </div>

    <div class="form-group">
      <label class="form-group__label" for="url">URL</label>
      <input class="form-group__input" type="url" id="url" formControlName="url">
    </div>

    <div class="form-group">
      <label class="form-group__label" for="available">Disponible</label>
      <p-inputSwitch id="available" formControlName="available"></p-inputSwitch>
    </div>
  </form>

  <div class="flex-justify-end">
    <app-button id="cancel-btn" label='Cancelar' btn='default' (click)="goBack()"></app-button>
    <app-button id="save-btn" label='Guardar' btn='primary' (click)="onSave()"></app-button>
  </div>
</div>
