{% extends 'base.html' %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    {% block content %}
    <!-- <form action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Registrar</button>
    </form> -->
    <div class="container-fluid">
      <div class="row vh-100">
        <div class="offset-md-3 col-md-6 my-auto border p-5">

          <h1 class="text-center font-weight-bold">Registro</h1>
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <small class="text-muted">Nombre</small>
              <input
                type="text"
                class="form-control"
                name="first_name"
                placeholder="Nombres"
              />
              <div class="invalid-feedback">
                {% for error in form.first_name.errors %} {{error}} {% endfor %}
              </div>
            </div>
            
            <div class="form-group">
              <small class="text-muted">Apellidos</small>
              <input
                type="text"
                class="mt-1 form-control"
                name="last_name"
                placeholder="Apellidos"
              />
              <div class="invalid-feedback">
                {% for error in form.last_name.errors %} {{error}} {% endfor %}
              </div>
            </div>
  
            <div class="form-group">
              <small class="text-muted">Correo electrónico</small>
  
              <input
                type="email"
                name="username"
                placeholder="Correo electrónico"
                class="form-control {% if form.username.errors %}is-invalid{% endif %}"
              />
              <div class="invalid-feedback">
                {% for error in form.username.errors %} {{error}} {% endfor %}
              </div>
            </div>
            
            <div class="custom-control custom-switch">
              <input type="checkbox" name="is_admin" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Administrador</label>
            </div>
  
            <div class="form-group">
              <small class="text-muted">Contraseña</small>
              <input
                type="password"
                name="password1"
                placeholder="Contraseña"
                class="form-control"
              />
              <div class="invalid-feedback">
                {% for error in form.password1.errors %}
                    {{ error }}
                {% endfor%}
            </div>
              <small class="text-muted">Mínimo 8 caracteres</small>
              <input
                type="password"
                name="password2"
                placeholder="Repetir contraseña"
                class="mt-1 form-control {% if form.password2.errors %}is-invalid{% endif %}"
              />
              <div class="invalid-feedback">
                {% for error in form.password2.errors %} {{error}} {% endfor %}
              </div>
            </div>
  
            <div class="form-group text-center">
              <button class="btn-block btn btn-primary" type="submit">
                Registrarme
              </button>
              <small>
                ¿Ya tienes una cuenta?
                <a href="{% url 'core:login' %}">Iniciar sesión</a>
              </small>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
