@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Oswald:wght@400;700&display=swap')
@import './variables'

:root
  font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320))

*
  font-family: 'Lato', sans-serif
  font-size: 15px
  border: 0
  box-sizing: border-box
  margin: 0
  padding: 0
  

h1, h1 span
  font-family: 'Oswald', sans-serif
  font-size: 3.46rem
  color: $dark-color

h2
  font-size: 3rem
  color: $dark-color

h3
  font-size: 2.5rem
  color: $dark-color

h4
  font-size: 2rem
  color: $dark-color
  

.container
  max-width: 1024px
  padding: 0 1rem
  margin: 0 auto

.flex-justify-end
  display: flex
  justify-content: flex-end

.form-group
  display: flex
  flex-direction: column
  margin-bottom: 2rem

  &__label
    color: $dark-color
    margin-bottom: .5rem
  &__input
    padding: .6rem 1rem
    border-radius: 5px
    border: 1px solid $gray-color
    outline: none
