<div class="container">
  <h1>Usuarios</h1>

  <div class="flex-justify-end">
    <app-button label='Nuevo' btn='primary' [routerLink]="['/admin/users/new']"></app-button>
  </div>

  <p-table 
    [value]="users"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10,25,50]"
    styleClass="p-datatable-responsive-demo"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">{{USERNAME_HEADER}} <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th>{{TYPE_HEADER}}</th>
        <th>{{DATE_HEADER}}</th>
        <th>{{ACTIONS_HEADER}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <span class="p-column-title">{{USERNAME_HEADER}}</span>
          {{user.username}}
        </td>
        <td>
          <span class="p-column-title">{{TYPE_HEADER}}</span>
          {{user.is_staff}}
        </td>
        <td>
          <span class="p-column-title">{{DATE_HEADER}}</span>
          {{user.date_joined | date:"dd/MM/yyyy"}}
        </td>
        <td>
          <span class="p-column-title">{{ACTIONS_HEADER}}</span>
          <app-button btn='secondary' isIcon [routerLink]="['/admin/users', user.id]">
            <fa-icon icon="edit"></fa-icon>
          </app-button>

          <app-button btn='danger' isIcon (click)="confirmDelete(user)">
            <fa-icon icon="trash"></fa-icon>
          </app-button>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #cd header="Borrar Usuario" icon="pi pi-exclamation-triangle">
  <p-footer>
    <app-button label='Cancelar' btn='default' (click)="cd.reject()"></app-button>
    <app-button label='Eliminar' btn='danger' (click)="cd.accept()"></app-button>
  </p-footer>
</p-confirmDialog>
